
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: grey;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#App {
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(125deg, rgb(22, 28, 48) 35%, rgb(56, 72, 122) 100%);
}

h1 {
    font-size: 20px;
}

#tsparticles {
	position: absolute;
	width: 100%;
    height: 100%;
}

.rd3t-tree-container {
	position: absolute;
	width: 100%;
    height: 100%;
}

.top-right {
    position: fixed;
    text-align: center;
    padding: 10px 10px;
    width: 80px;
    height: 100%;
    top: 0px;
    right: 10px;
}

.top-right-block {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.top-right-block-bottom {
    position: absolute;
    bottom: 20px;
}

.top-right-value {
    font-size: 18px;
}

.top-right-desc {
    font-size: 10px;
}

.table {
    height: calc(100% - 40px);
    width: calc(100% - 120px);
    overflow-y: auto;
    overflow-x: auto;
    padding: 20px 100px 20px 20px;
}

.relationshipBlock {
    display: flex;
}

.parentBlock {
    background-color: rgb(56, 72, 122);
    color: lightgrey;
}

.childBlock {
    background-color: rgb(161, 179, 230);
}

.parentBlock, .childBlock {
    position: relative;
    padding: 4px 2px 2px 2px;
    margin: 1px;
    width: 300px;
    border-radius: 3px;
    cursor: pointer;
    animation: block-appearance .5s linear;
}

.parentBlock img, .childBlock img {
    position: absolute;
    width: 15px;
    top: 5px;
    left: 6px;
}

.parentBlock-text, .childBlock-text {
    padding-left: 25px;
}

.parentBlock:hover {
    background-color: rgb(22, 28, 48);
}

a {
    color: black !important;
    text-decoration: none;
}

@keyframes block-appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}